
SECRET_KEY = '50-char-long-(or-so)-secret-key'

# For MySQL
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'curo',
        'USER': 'username',
        'PASSWORD': 'password',
        'HOST': 'hostname',
        'PORT': 'port',
    }
}


# For SQLite
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'curo.db',
    }
}

TIME_ZONE = 'Europe/Stockholm'

