<div class="tabbable tabs-left" data-ng-controller="MonthsController" data-ng-model="tabModel">
    <div class="tab-pane" data-ng-repeat="month in months" title="{{month | dateIntervalName}}" value="{{month | dateIntervalName}}">
        <div class="row-fluid" data-ng-controller="MonthController">
            <table data-datagrid class="table table-bordered" 
                 data-datagrid-rows="datagrid.rows"
                 data-datagrid-events="datagrid.events">
               <tbody>
                 <tr class="datagridHeaderRow">
                    <th>Id</th>
                    <th>Order date</th>
                    <th>Category</th>
                    <th>Amount</th>
                 </tr>
                 <tr class="datagridRowTemplate">
                   <td data-datagrid-name="id"></td>
                   <td data-datagrid-name="order_date"></td>
                   <td data-datagrid-name="category"></td>
                   <td data-datagrid-name="amount"></td>
                 </tr>
               </tbody>
            </table>
        </div>
    </div>
</div>

