<div class="monthly-view">
    <div class="controller">
        <a href="#" id="editModeButton" class="btn btn-primary btn-large" data-ng-click="toggleEditMode()">Edit</a>
        <a href="#" id="editModeButton" class="btn btn-primary btn-large" data-ng-click="saveTransaction()">Save</a>
    </div>
    <table class="table" style="table-layout:fixed;width:100%;">
        <colgroup>
            <col width="15"/>
            <col width="30" valign="middle"/>
            <col width="60"/>
            <col width="30"/>
            <col width="15"/>
            <col width="50"/>
        </colgroup>
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Entity</th>
            <th>Amount</th>
            <th>Note</th>
            <th></th>
        </tr>
        <tr data-ng-repeat="t in ts.objects" data-ng-controller="TransactionTableController">
            <td>{{ t.order_date }}</td>
            <td>{{ t.category.name }}</td>
            <!--
            <td data-ng-init="getEntity(t.entity)">{{ entity.name }}</td>-->
            <td>{{ t.entity.name }}</td>
            <td>{{ t.amount }}</td>
            <td>{{ t.note }}</td>
            <td><button class="btn btn-danger" data-ng-show="isEditMode"><i class="icon-trash icon-white"></i></button></td>
        </tr>
        <!--<tr id="addRow">
            <td colspan="6"><button id="addRowButton" class="btn btn-primary btn-large">Add new transaction</button></td>
        </tr>-->
        <tr id="newDataRow" data-ng-show="isEditMode">
            <td><input type="text" placeholder="date" class="input-small" data-ng-model="newTransaction.order_date"/></td>
            <td><input type="text" placeholder="category" data-ng-model="newTransaction.category"/></td>
            <td><input type="text" placeholder="entity" data-ng-model="newTransaction.entity"/></td>
            <td><input type="text" placeholder="amount" data-ng-model="newTransaction.amount"/></td>
            <td><input type="text" placeholder="note" data-ng-model="newTransaction.note"/></td>
            <td></td>
        </tr>
    </table>
    <!--<pre>
       value:  {{newTransaction | json}}
    </pre>-->
</div>

